<%- include("includes/header") %>
       
    <button href="/sendmail">Paina tästä ihan vaa huvin vuoksi</button>
    <a href="/contact" class="mdl-button mdl-button--raised">ota yhteyttä</a>
    
    <ul class="mdl-list">

   
<%- include("includes/footer") %>
   