<%- include("includes/header") %>
       
    <div class="mainPageBlock">
        <div class="buttonDiv">
            <a href="/contact" class="mdl-button mdl-button--raised" >ota yhteyttä</a>
            <a href="/contact" class="mdl-button mdl-button--raised" >In Enlish</a>
        </div>
            <div class="firstContent">
                <div class="aboutMe"><h3>Tietoa minusta</h3></div>
                <img src="/images/tyokalut.png" alt="information about me"/>
            </div>
            <div class="secondContent">
                <div class="devices"><h3>laitteita, joita korjaillaan</h3></div>
                <img src="/images/brodeeraus1.png" alt="Brother BES" class="brod1"/>
                <img src="/images/brodeeraus2.png" alt="Brother BE" class="brod2"/>
            </div>
            <div class="thirdContent">
                <div class="parts"><h3>Varaosia on joihinkin malleihin</h3></div>
                <img src="/images/sparepart1.png" alt="Brother part" class="sparePart1"/>
                <img src="/images/sparepart2.png" alt="Brother parts" class="sparePart2"/>
            </div>
            <div class="fourthContent">
                <img src="/images/brodeeraus3.png" alt="Brother cards" class="mahcine"/>
                <img src="/images/spareparts3.png" alt="Brother machine" class="sparePart3"/>
            </div>

        <div class="buttonDiv">
            <a href="/contact" class="mdl-button mdl-button--raised">ota yhteyttä</a>
            <a href="/contact" class="mdl-button mdl-button--raised">In Enlish</a>
        </div>
</div>
<%- include("includes/footer") %>
   