<%- include("includes/header") %>
       
    <div class="mainPageBlock">
        <div class="buttonDiv">
            
            <% if (isEnglish) {%>
            <a href="/set-language/fi" class="mdl-button mdl-button--raised buttons" style="font-size:14px;">In English</a>
            <a href="/contact" class="mdl-button mdl-button--raised" style="font-size:14px;">Ota yhteyttä</a>
            <% } else { %>
            <a href="/set-language/en" class="mdl-button mdl-button--raised buttons"style="font-size:14px;">Suomeksi</a>
            <a href="/contact" class="mdl-button mdl-button--raised" style="font-size:14px;">Contact us</a>
            <% } %>
        </div>
            <div class="firstContent">
                <div class="aboutMe" >
                    <% if (isEnglish) {%>
                        <h3>Tietoa minusta</h3>
                        <p>Minulla on lähes 50 vuoden kokemus eletroniikan korjailusta ja rakentamisesta.
                            Brotherin teollisuus brodeerauskoneita olen korjaillut jo useita vuosia eletroniikka puolelta.
                        <br>
                        <br>
                        Olen myös työskennellyt esimerkiksi asiakkaiden kanssa jotka ovat kotoisin
                        Italiasta, Saksasta ja Hollannista. Testaan korjatut tuotteet huolellisesti,
                        ennenkö lähetän ne eteen päin. 
                        </p>
                        <% } else { %>
                            <h3>About Me</h3> <p>I have nearly 50 years of experience in repairing and building electronics. 
                                I have been repairing Brother industry embroidery machines for several years on the electronics side. 
                                <br> <br> 
                                I have also worked with clients from Italy, Germany, and the Netherlands. 
                                I thoroughly test the repaired products before sending them forward. </p>
                            <% } %>
                </div>
                <img src="/images/tyokalut.png" alt="information about me"/>
            </div>
            <div class="secondContent">
                <div class="devices">
                    <div class="devicesTextContent">
                    <% if (isEnglish) {%>
                    <h3>laitteita, joita korjaillaan</h3>
                    <p>Brother teollisuus brodeerauskoneet</p>
                    <ul>
                        <li>bas-416</li>
                        <li>bes-1261</li>
                        <li>bes-1216</li>
                        <li>bes-1206, 1204</li>
                        <li>bes-960</li>
                        <li>be-1206</li>
                        <li>be-1204 </li>
                        <li>Sähkösukkuloiden korjaus malleihin: Bas-960 ja Bas-963</li>
                    </ul>
                    <% } else { %>
                        <h3>Devices That Are Repaired</h3> 
                        <p>Brother industry Embroidery Machines</p>
                        <ul>
                            <li>bas-416</li>
                            <li>bes-1261</li>
                            <li>bes-1216</li>
                            <li>bes-1206, 1204</li>
                            <li>bes-960</li>
                            <li>be-1206</li>
                            <li>be-1204 </li>
                            <li>Repair of electronic shuttles for models: Bas-960 and Bas-963</li>
                        </ul>
                    
                        <% } %>
                        </div>
                </div>
                    <img src="/images/brodeeraus1.png" alt="Brother BES" class="brod1"/>
                    <img src="/images/brodeeraus2.png" alt="Brother BE" class="brod2"/>
            </div>
            <div class="thirdContent">
                <div class="parts">
                    <div class="partsTextContent">
                    <% if (isEnglish) {%>
                        <h3>Varaosia on joihinkin malleihin</h3>
                        <p>Minulta löytyy ohjauskortteja esimerkiksi BE-1204 ja BE-1206
                        malleihin ja esimerkiksi muita kortteja löytyy muihinkin 
                        kone malleihin. Bas 960 ja 963 sähkösukkuloita löytyy varaosina. 
                        Be-1204 ja Be-1206 -mallien ohjauskortteja on paranneltu langankatkaisuun liittyen.
                       </p> 
                        <% } else { %>
                            <h3>Spare Parts for Some Models</h3>
                             <p>I have control boards for models 
                                such as BE-1204 and BE-1206, and 
                                I also have other boards for other machine models. 
                                Spare parts for electronic shuttles for models Bas-960 and Bas-963 are available.
                                The driver boards of the Be-1204 and Be-1206 models have been improved regarding thread cutting.
                            </p>   
                            
                    <% } %>
                        </div> 
                </div>
                <img src="/images/sparepart1.png" alt="Brother part" class="sparePart1"/>
                <img src="/images/sparepart2.png" alt="Brother parts" class="sparePart2"/>
            </div>
            <div class="fourthContent">
                <img src="/images/brodeeraus3.png" alt="Brother cards" class="mahcine"/>
                <img src="/images/spareparts3.png" alt="Brother machine" class="sparePart3"/>
            </div>

        <div class="buttonDivBottom">
            <% if (isEnglish) {%>
                <a href="/set-language/fi" class="mdl-button mdl-button--raised buttons" style="font-size:14px;">In English</a>
                <a href="/contact" class="mdl-button mdl-button--raised" style="font-size:14px;">Ota yhteyttä</a>
                <% } else { %>
                <a href="/set-language/en" class="mdl-button mdl-button--raised buttons" style="font-size:14px;">Suomeksi</a>
                <a href="/contact" class="mdl-button mdl-button--raised" style="font-size:14px;" >Contact us</a>
                <% } %>
        </div>
</div>

<%- include("includes/footer") %>
   