<%- include("includes/header") %>

    <div class="contact_us">
        <% if (isEnglish) {%>
        <a href="/" class="mdl-button mdl-button--raised">takaisin pääsivulle</a>
        <h1>Ota yhteyttä</h1>
        <p>Kysy lisää korjauksista ja muista osista niin autamme parhaan mukaan</p>
        <form action="/send-email" method="POST"> 
            <label for="name">Nimi:</label> 
                <input type="text" id="name"
                name="name" required> <br> 
                <label for="email">Sähköposti:</label> 
                <input type="email" id="email"
                name="email" required> <br> 
                <label for="message">Viesti:</label> 
                <textarea id="message" name="message"
                required></textarea> <br>
        <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY">

        </div> 
        <br> 
        <button type="submit">Lähetä</button>
        </form>
        <% }else{ %>
            <a href="/" class="mdl-button mdl-button--raised">Back to Main Page</a> 
            <h1>Contact Us</h1> 
            <p>Ask more about repairs and other parts, and we will help you as best as we can.</p>
        
        <form action="/send-email" method="POST"> 
                <label for="name">Name:</label> 
                    <input type="text" id="name"
                    name="name" required> <br> 
                    <label for="email">E mail:</label> 
                    <input type="email" id="email"
                    name="email" required> <br> 
                    <label for="message">Message:</label> 
                    <textarea id="message" name="message"
                    required></textarea> <br>
            <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY">

            </div> 
            <br> 
            <button type="submit">Send</button>
            </form>
            <% } %>
    </div>


    <%- include("includes/footer") %>