<%- include("includes/header", {isEnglish:isEnglish}) %>
<div style="height:300px; width:100%; margin-left:7%; justify-content:space-between; ">
<h1>Vahvistus</h1>
<div style="height:150px; width:100%; justify-content:space-between;">
<a href="/" class="mdl-button mdl-button--raised">takaisin</a>
<a href="/" class="mdl-button mdl-button--raised">Back</a> 
</div>
<p><%= viesti %></p>
</div>

<%- include("includes/footer") %>

